a.active {
	color: #cc0e0e;
}
.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 100;
}

@media screen and (max-width: 768px) {
	.navbar {
		padding: 0 20px 0 20px;
	}
}
