@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Space+Mono&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--body_background: #f3f3f0;
	--body_color: #1a1b1a;
	--link_color: navy;
}

[data-theme = "dark"] {
	--body_background: #202224;
	--body_color: #d7d4cf;
	--link_color: #33a1ff;
}

* {
	transform: all 0.3s ease-in-out;
}