@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&family=Noto+Sans+JP:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--body_background: #f3f3f0;
	--body_color: #1a1b1a;
	--link_color: navy;
}

[data-theme="dark"] {
	--body_background: #202224;
	--body_color: #d7d4cf;
	--link_color: #33a1ff;
}

* {
	transform: all 0.3s ease-in-out;
}

p,
a {
	font-size: 16px;
}

.textGradEffect {
	background-image: linear-gradient(rgb(249, 115, 22), rgb(253, 224, 71));
	background-clip: text;
	color: transparent;
}

h1 {
	font-family: "Inter Tight", sans-serif;
	font-size: 58px;
	font-weight: 900;
}
h2 {
	font-size: 40px;
	font-weight: 900;
}
h4 {
	font-size: 18px;
	font-weight: 900;
}

.subheading {
	font-size: 14px;
	font-weight: 900;
}

.smallText {
	font-size: 12px;
}

.box {
	--mask: radial-gradient(64.41px at 50% 87px, #000 99%, #0000 101%)
			calc(50% - 60px) 0/120px 100%,
		radial-gradient(64.41px at 50% -57px, #0000 99%, #000 101%) 50% 30px/120px
			100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}
